.clearBoth {
  clear: both;
  border: aqua;
}
  /*body {*/
  /*  background-color:  rgba(15, 15,15,255);*/
  /*}*/
  /*h1 {*/
  /*  font-family : Calibri;*/
  /*  color : rgba(161,134,241,255);*/
  /*  border : 5px rgba(83,70,120,255);*/
  /*  text-align: center;*/
  /*  background-color: rgba(15,15,15,255);*/
  /*}*/

  /*h2 {*/
  /*  color : rgba(161,134,241,255)*/
  /*}*/
  /*a {*/
  /*  color : rgba(89,75,130,255)*/
  /*}*/
/* Sidebar styles */
/* General body layout */
body
{
  margin: 0;
  padding: 0;
}

#content
{
  margin-left: 70px;
  transition: margin-left 0.5s ease-in-out;
}

#content h2
{
  font-family: Arial;
  color: black;
}

#content button
{
  background-color: black;
  border: white;

  color: white;
  font-family: Arial;

  padding: 15px 15px;
  border-radius: 16px;
}

.sidebar
{
  top: 115px;
  width: 250px;
  height: 100vh;
  background: #333;
  color: white;
  position: fixed;
  left: -200px;
  transition: left 0.5s ease-in-out;
  z-index: 1000;
}

.sidebar:hover
{
  left: 0;
}

.sidebar:hover + #content
{
  margin-left: 270px;
}

.sidebar ul
{
  list-style: none;
  padding: 0;
}

.sidebar ul li
{
  padding: 15px;
  text-align: center;
}

.sidebar ul li a
{
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li:hover
{
  background: red;
}

.sidebar .indicator-right p
{
  position: absolute;
  color: white;
  font-size: 30px;
  text-align: left;
  font-family: Calibri;
  right: 10px;
  z-index: 10;
}

.sidebar:hover .indicator-right p
{
  position: absolute;
  color: #333;
  font-size: 30px;
  text-align: left;
  font-family: Calibri;
  right: 10px;
}

.sidebar .indicator-left p
{
  position: absolute;
  color: #333;
  font-size: 30px;
  text-align: left;
  font-family: Calibri;
  right: 10px;
  z-index: 0;
}

.sidebar:hover .indicator-left p
{
  position: absolute;
  color: white;
  font-size: 30px;
  text-align: left;
  font-family: Calibri;
  right: 10px;
  z-index: 1000;
}

